.black-bg {
    background-color: black;
}

.header-bg {
    background-color: black;
}

  
.green-text {
    color: green;
}
  
.blue-text {
    font-weight: bold;
    color: blue;
}

.section-bg {
    background-color: black;
}
  
.orange-text {
    color: orange;
}
  
.yellow-text {
    color: yellow;
}
  
.red-text {
    color: red;
}
  
.monospace {
    font-family: monospace;
}

.yellow-bg {
    background-color: red;
}
  
.footer-bg {
    background-color: black;
}
  
.underline {
    text-decoration: underline;
}
  